*{
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: flex;
    flex-direction: row;
}

.navegacao{
    border-right: #000 1px solid;
    width: 300px;
    height: 100vh;
    background-color: #B26241;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.foto-perfil{
    margin-top: 100px;
    border-radius: 50%;
    border: #000 solid 2px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

li{
    margin: 10px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
}

a:hover{
    transform: translateY(-3px) translateX(3px);
    transition: 1s;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.nome{
margin-top: 100px;
}

.nome h1{
    font-size: 70px;
}

.social-midia{
    

}

.social-midia img {
    margin-top: 50px;
    width: 45px;
    padding-left: 20px;
    }

#linkedin:hover, #github:hover, #instagram:hover, #facebook:hover, #whatsapp:hover {
    filter: brightness(1.5);
}